<div class="container">

    <div>
        <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </div>

    <!-- Insert -->
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <form>
               <input type="text" class="input_ac" ng-model="query" szn-autocomplete="options"> 
            </form>
        </div>
    </div>
  
    <!-- Insert -->
    <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in main.movieResults | orderBy: 'rank' ">

            <div class="thumbnail">
                <figure class="images">
                    <img ng-src="{{awesomeThing.poster_path && 'https://image.tmdb.org/t/p/w185/' + awesomeThing.poster_path || 'http://placehold.it/185x278?text=no+IMG'}}" title="{{awesomeThing.title}}" alt="{{awesomeThing.title}}">
                    <figcaption>Year: <span>{{awesomeThing.release_date | date:'yyyy'}}</span></figcaption>
                </figure>

                <article>
                    <h2>{{awesomeThing.title}}</h2>
                    <h3 ng-show="awesomeThing.overview.length">Overview</h3>
                    <p >{{awesomeThing.overview | limitTo: 400}}</p>
                </article>
                
                
            </div>
        </div>
    </div>
</div>