/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

$white: #fff;
$grey : #cecece;
$black: #000;
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,900);

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.massive_interactive {
	font-family: 'Lato', sans-serif;
	h1 {
		color: $white;
		margin: 10px;
	}

	form {
		background:  $grey;
		padding: 1em;
		margin-bottom: 2em;
		input {
			background: $white;
			color: $black;
			font-weight: 900;
			font-size: 1em;
			padding: 1em; 

			&.input_ac {
				width: 100%;
				display: block;
				border: 1px solid $grey;
			}
			&.szn-autocomplete-shadow-input {
				border: none;
			}
		}
	}

	.thumbnail {
		padding: 1em; 
		height: 250px;
		overflow: hidden;

		article {
			float: right;
			width: 64%;
			h2 {
				font-weight: 800;
				font-size: 1em;
				margin-top: 0;
			}
			h3 {
				font-weight: 800;
				font-size: 0.8em;
				margin-top: 0;
				color: $black;
				text-decoration: underline;
				}
			
			p {
				line-height: 110%;
				font-weight: 400;
				font-size: 0.9em;
				color: $black;
			}
		}
		
		
		figure{
			float: left;
			width: 30%;
			margin-right: 1em; 
			border-bottom: 1px solid $grey;
			margin-bottom: 1em;
			img {
				display: block;
				border: 1px solid $grey;
				max-width: 100%;
				margin-bottom: 0.5em;
			}
			figcaption {
				font-size: 0.9em;
				span {
					font-weight: 900;
				}
			}
		}

		
	}

	@media only screen and (max-width: 768px) {
		.thumbnail {
			height: auto;
		}
	}
}







/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
